@import './resets';
@import './variables';

/* flex container or parent container */
.container {
    width: 100%;
    margin: 0 auto; 
    height: 90vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    .letter-container {
        display: flex;
        padding: 2em;

        .letter-box {
            width: 100px;
            height: 100px;
            background: $color-bbc-red;
            padding: 1em;
            margin: 0.5em;
        
        
            /* declare flex container */
            display: flex;
            align-items: center;
            justify-content: center;

            .letter {
                font-size: 4rem;
                font-weight: 900;
                text-transform: uppercase;
            }
        }
    }

    .subject {
        text-transform: uppercase;
    }
    
    p {
        text-transform: capitalize;
        font-size: 1.5rem;
    }

    #link-btn {
        padding: 0.5rem 1.5rem;
        margin-top: 1.5rem;
        border: none;
        border-radius: 0.2rem;
        background-color: $color-btn-lite;
        color: $color-btn-dark;
        cursor: pointer;
        font-size: $font-size-small;
        transition: 1s ease all;

        &:hover {
            background-color: $color-btn-dark;
            color: $color-btn-lite;
        }
    }
}


